.content {
	width: 100%;
	height: 200px;
	padding: 1vw;
}

.left {
	float: left;
}

.right {
	float: right;
}

#main {
	background-color: red;
}

#other {
	background-color: blue;
}

#blackJack {
	background-color: green;
}

h1 {
	width: 100%;
	padding-left: 2vw;
}

nav ul {
	list-style-type: none;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer p {
	font-size: 12px;
	text-align: center;
	margin-top: 2vh;
}